h5{
  color: #795c5fff;
  color: #a69658ff;
  color: #d9b26fff;
  color: #fadf7fff;
  color: #f2e29fff;
}
.CreateTodoButton {
  background-color: #a69658ff;
  box-shadow: 0px 5px 25px #795c5fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  z-index: 5000;

  transform: rotate(0);
  transition: .3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}
